<div class="content">
  <div class="session_container">
    <div class="session_title">
      <p>Facebookcloneにログイン</p>
    </div>
    <div class="session_form_container">
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <div class="session_email_form">
        <%= f.email_field :email ,placeholder: "メールアドレス" %>
      </div>
      <div class="session_password_form">
        <%= f.password_field :password, placeholder: "パスワード" %>
      </div>
      <%= f.submit "ログイン" %>
    <% end %>
    </div>
  </div>
</div>
